<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li [ngClass]="{'nav-item': navConditionTrue,'active': isHomePage}">
              <a class="nav-link" routerLink="home">PokeApp</a>
            </li>
            <li *ngIf="pokemonBtnVisible" [ngClass]="{'nav-item': navConditionTrue,'active': isListPage}">
              <a class="nav-link" routerLink="home/list">> Pokemon</a>
            </li>
            <li *ngIf="detailBtnVisible" [ngClass]="{'nav-item': navConditionTrue,'active': isDetailPage}">
                <a class="nav-link">> Detail</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
      
    <router-outlet></router-outlet> <!-- Router Outlet to display components-->
</body>
