<div class="container">
    <div class="row justify-content-center topPadding">
        <div class="col-8">
            <img *ngIf="imgURL" [src]='imgURL' alt="Pokemon Image" height="96" width="96">
            <h1>{{ name }}</h1>
        </div>     
    </div>
    <hr>
    <div class="row justify-content-center topPadding">
        <div class="col-4">
            <h3>Types:</h3>
            <table class='table table-hover table-fixed'>
                <tbody>
                    <tr *ngFor="let type of types">
                        <td style="width:100%">{{ type.type.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <h3>Moves:</h3>
            <div class="table-wrapper-scroll-y">
                <table class='table table-hover table-fixed'>
                    <tbody>
                        <tr *ngFor="let move of moves">
                            <td style="width:100%">{{ move.move.name }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>